:root {
    --opacity-0: 1;
    --opacity-1: 0.9;
    --opacity-2: 0.8;
    --opacity-3: 0.7;
    --opacity-4: 0.6;
    --opacity-5: 0.5;
    --opacity-6: 0.4;
    --opacity-7: 0.3;
    --opacity-8: 0.2;
    --opacity-9: 0.1;
    --opacity-10: 0;
}
